.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
}

.btn-white {
    background-color: #fff !important;
    color: #000 !important;
}

.btn-outline-white {
    border: 2px solid #fff;
    color: #fff !important;
    background-color: transparent;
}

.white-text {
    color: #FFF !important;
}

.top-nav-collapse {
    background-color: #3949ab !important;
}

.btn,
.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3949ab !important;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar.scrolling-navbar {
    z-index: 100;
}


#intro .h6 {
    font-weight: 300;
    line-height: 1.7;
}

.hm-gradient .full-bg-img {
    background: rgba(92, 165, 226, 0.7);
    background: linear-gradient(150deg, rgba(63, 81, 177, 0.7) 0%, rgba(247, 201, 120, 0.7) 100%)
}

@media (max-width: 450px) {
    .margins {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

#pricing .lead {
    opacity: 0.7;
}

#pricing .card-image {
    background: url("../img/architecture.jpg") no-repeat center center;
}

#pricing ul li {
    font-size: 1.1em;
}

.full-height,
.full-height body,
.full-height header,
.full-height header .view {
    height: 100%
}

.view {
    cursor: default;
}

.view .mask {
    background-attachment: fixed
}

.view .full-bg-img,
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img,
.view video {
    display: block;
    position: relative
}

#about {
    margin: 20% 0;
}

/*footer*/
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    font-size: .9rem;
}

footer.page-footer a {
    color: #fff;
}

#displayArea{
    display:none;
}

.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}
.btn-info {
    color: #fff;
    background-color: #39afd1;
    border-color: #39afd1;
    box-shadow: 0 2px 6px 0 rgba(57,175,209,.5);
}
.btn-success {
    color: #fff;
    background-color: #0acf97;
    border-color: #0acf97;
    box-shadow: 0 2px 6px 0 rgba(10,207,151,.5);
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 2px 6px 0 rgba(49,58,70,.5);
}

.card {
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    border:0;
}
/* .container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

#content {
    position: relative;
}